$primaryColor: #29C5F4;
$secondaryColor: #FFFFFF;

$backgroundColorElements: #FFFFFF;
$topBackgroundColor: #000000;
$backgroundColor: #FFFFFF;
$backgroundColorSideNav: #E9EBEE;
$sideNavColor: #CFD3DA;
$infoColor: #0078D4;
$errorColor: #E81123;
$successColor: #26A44C;

$textColorInverted: #FFFFFF;
$textColor: #000000;

$fontFamily: Segoe UI,Tahoma, Geneva, Verdana, sans-serif;